/* ===== Reset & Base Styles ===== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, 
li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
   list-style-type:none;
    margin: 0;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
  display: block;
}

/* ===== Common Utility ===== */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1158px;
    width: 100%;
}

.medium-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.header-medium {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.header-small {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.small-text {
    font-family: "Roboto", sans-serif;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
}

.button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    cursor: pointer;
    background-color: #404BBF;
}

.card-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* ===== Header ===== */
.header-container {
    display: flex;
    justify-content: space-between;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
}

.logo-studio {
    color: #2e2f42;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items:last-child {
    display: flex;
    gap: 40px;
}

.menu-item {
    color:  #2e2f42;
    font-weight: 500;
    padding: 24px 0;
    display: inline-flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.menu-item-active {
    color: #404bbf;
}

.menu-item-active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    border-radius: 2px;
}

.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}

.nav-items::after {
    background-color: #404bbf;
    width: 100%;
}

.link:hover,
.link:focus {
    color: #4D5AE5;
}

.address {
    font-style: normal;
}

.address-title {
    display: flex;
    gap: 40px;
}

.contact {
    display: inline-flex;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}

.header-box {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ===== Hero Section ===== */
.order-service-section {
    max-width: 1440px;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    padding: 188px 15px;
}

.title {
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.order-service-title {
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
    border: unset;
    max-width: 496px;
}

.button-title {
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
}

/* ===== Benefits Section ===== */
.benefit-section {
    padding: 120px 0;
}

.benefits {
    display: flex;
    gap: 24px;
}

.benefit-item {
    width: calc((100% - 72px) / 4);
}

.benefit-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.benefits-title {
    color: #2e2f42;
}

.benefit-title {
    color: #2e2f42;
    margin-bottom: 8px;
}

/* ===== Our Team Section ===== */
.our-team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.teammate-wrapper {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    /* width: calc((100% - 72px) / 4); */
}

.teammate {
    color: #2e2f42;
    text-align: center;
}

.team-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
    border-radius: 0 0 4px 4px;
    text-align: center;
    gap: 8px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    
}

.social-icon {
    display: flex;
    height: 40px;
    width: 40px;
}

.social-icon-link-footer, .social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404BBF;
}

.icon {
    fill: #f4f4fd
}

/* ===== Portfolio Section ===== */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.porfolio-components {
    /* width: calc((100% - 48px) / 3); */
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-components:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
 
.portfolio-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    color: #2e2f42;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    margin-bottom: 8px;
}

.image {
    position: relative;
    overflow: hidden;
}

.image-overlay {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-components:hover .image-overlay {
    transform: translateY(0%);
}

.box {
    width: 360px;
    height: 120px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}


.app-item .portfolio-item {
    color: #2e2f42;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 16px;
}

/* ===== Footer ===== */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.logo-studio-second {
    color: #f4f4fd;
}

.footer-paragraph {
    width: 264px;
}

.logo-footer {
    margin-bottom: 16px; 
    margin-right: 0;
}

.social-media-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-media {
    margin-right: 80px;
}

.social-icon-footer {
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-icons-footer {
    gap: 16px; 
}

.social-icon-link-footer:hover,
.social-icon-link-footer:focus {
    background-color: #31d0aa;
}

.subscribe-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    color: #ffffff;
}

input.subscribe-input::placeholder {
    color: #ffffff;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-icon-frame {
    margin-left: 16px;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: unset;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404BBF;
}

.footer-form-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-form {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.logo-footer-wrapper {
    margin-right: 120px;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ===== Backdrop with Modal ===== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #fff;
    background-color: #404BBF;
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-text {
    font-weight: 500;
    line-height: 1.5;
    color: #2E2F42;
    margin-bottom: 16px;
    text-align: center;
}

.review-form-wrapper {
    margin-bottom: 8px;
}

.review-form-wrapper-area {
    margin-bottom: 16px;
    line-height: 0;
}
.form-icon-wrapper {
   position: relative;
}

.form-name-input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name-input:focus,
.form-comment:focus {
    border-color: #4D5AE5;
}

.form-name {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name-input:focus + .review-form-icon {
    fill: #4D5AE5;
} 

.form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox{
    margin-bottom: 24px;
}

.review-policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.review-policy-own {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-policy-checkbox:checked + .review-policy-label .review-policy-own {
    background-color: #404BBF;
    border: #404BBF;
    fill: #F4F4FD;
}

/* .review-policy-checkbox:focus + .review-policy-label .review-policy-own {
    outline: 1px solid rgba(46, 47, 66, 0.4);
} */

.review-form-btn {
    display: block;
    min-width: 169px;
    border: none;
    background-color: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin-left: 95px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-btn:hover,
.review-form-btn:focus {
    background-color: #404BBF;
}